{% extends 'base.html' %}
{% block title %}
Biceps/Triceps
{% endblock title %}
{% block head %}

<div class="container">

    <header>
        <h1>BICEPS / TRICEPS</h1>
    </header>

    <section>

        <p style="font-size:18px;text-align:left;">Your biceps and triceps are key players in achieving strong, defined arms. These muscles aren’t just for looks—they’re essential for lifting, pushing, and pulling motions. Focusing on these muscles helps increase your overall strength and boosts confidence in your workouts.
        </p>
    </section>

     <section>
        <h3>Biceps Workouts:</h3>
        <p style="font-size:18px;text-align:left;">Barbell Curls – The classic movement to build mass and strength in the biceps.<br>
Dumbbell Curls – Focuses on each arm individually, promoting symmetry and strength.<br>
Hammer Curls – Targets the brachialis muscle for fuller, more defined arms.<br>
Chin-Ups – A compound movement that works the biceps and upper body.</p>
    </section>

    <section>
        <h3>Triceps Workouts:</h3>
        <p style="font-size:18px;text-align:left;">Tricep Dips – A great bodyweight exercise to work all three heads of the triceps.<br>
Close-Grip Bench Press – Works the triceps while engaging the chest and shoulders.<br>
Tricep Pushdowns – Perfect for isolating and defining the triceps.<br>
Skull Crushers – A great movement to build mass and strength in the triceps. </p>
    </section>
    </div>

<footer>
    <p style="font-size:15px;">Motivation: Every rep brings you closer to stronger, more sculpted arms. Keep pushing, stay consistent, and remember that the results are worth the effort!</p>

</footer>
{% endblock head %}


